* {
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
header ul li {
  display: inline;
  padding: 40px;
  text-decoration: none;
}
ul li a {
  text-decoration: none;
  color: #1f95de;
}
li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}
header .button {
  background-color: #63c2ff;
  color: rgb(236, 246, 248);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}
.main {
  margin: 10px;
  height: 80vh;
  display: flex;
}
.list {
  height: 70vh;
  width: 30vw;
  margin-left: 40px;
  border-radius: 5%;
  border-style: solid;
  border-color: #63c2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  height: 70vh;
  width: 70vw;
  background-image: url("./images/undraw_Playful_cat_re_ac9g.png");
  margin: 10px;
}
footer {
  height: 5vh;
  text-align: center;
  font-family: sans-serif;
  color: #444445;
}
